.sidebar{
    height: 100vh;
    flex: 0.20;
    min-width: 230px;
    background-color: #040404;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.sidebar__logo{
    margin-top: 10px;
    height: 65px;
    margin-left: 3px;

}